<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto mr-auto">
        <p>Hi, I'm Anastasia Karpeyeva, a Consulting Psychologist and Neurointegration Trainer. I offer my services in <b>Russian, English, and Dutch</b>. My background includes a university degree in Child and Adolescent Psychology, complemented by a wide range of coaching and psychology certifications.</p>
      </div>
      <div class="col-lg-4 ml-auto mr-auto">
        <p> I'm passionate about helping people of all ages navigate life's challenges, enhance their well-being, and unlock their inner potential. Whether you're seeking support for personal growth, relationships, or  family concerns, including those related to children and adolescents, I'm here to provide guidance and support on your journey.</p>
      </div>
      <div class="col-lg-4 ml-auto mr-auto">
        <p>I offer a variety of psychotherapy approaches tailored to your needs, ensuring the most effective path towards your well-being and personal growth. My expertise as a coach and trainer complements my therapeutic skills, providing comprehensive support and guidance on your journey to achieving your goals.</p>
      </div>
    </div>
  </div>
</section>
