<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I offer a variety of psychotherapy approaches tailored to your needs, ensuring the most effective path towards your well-being and personal growth.</p>
      </div>
      <div class="col-lg-4">
        <p>My expertise as a coach and mentor complements my therapeutic skills, providing comprehensive support and guidance on your journey to achieving your goals.</p>
      </div>
    </div>
  </div>
</section>
