<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% t site.title %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{%  t site.description %}">
  <meta name="keywords" content="{% t site.keywords %}" />
  {% if site.meta_author %}
  <meta name="author" content="{% t global.anastasia %}">{% endif %}
  {% assign default_lang = site.languages | first %}
  {% assign current_lang = page.lang | default: site.active_lang | default: default_lang %}

  {% assign normalized_page_path = page.url | default: '' | replace:'index.html','' %}
  {% if normalized_page_path == '' %}
    {% assign normalized_page_path = '/' %}
  {% endif %}
  {% unless normalized_page_path startswith '/' %}
    {% assign normalized_page_path = '/' | append: normalized_page_path %}
  {% endunless %}

  {% if normalized_page_path == '/' %}
    {% assign derived_path = page.path | default: '' | replace:'index.html','' %}
    {% if derived_path != '' %}
      {% unless derived_path startswith '/' %}
        {% assign derived_path = '/' | append: derived_path %}
      {% endunless %}
      {% assign normalized_page_path = derived_path %}
    {% endif %}
  {% endif %}

  <link rel="canonical" href="{{ site.url }}{{ normalized_page_path | replace:'//','/' }}">
  {% for lang in site.languages %}
    {% if lang == default_lang %}
      {% assign lang_path = page.url | replace:'index.html','' | remove_first: '/' | remove_first: current_lang | prepend: '/' %}
    {% else %}
      {% assign lang_path = page.url | replace:'index.html','' | remove_first: '/' | remove_first: current_lang | prepend: lang | prepend: '/' %}
    {% endif %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}{{ lang_path }}" />
  {% endfor %}
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url | replace:'index.html','' | remove_first: '/' | remove_first: current_lang | prepend: '/' }}" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico"> 

  <link rel="stylesheet" href="/css/style.css">

  {% if site.google_verify %}
  <!-- Google verification -->
  <meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}


  {% if site.bing_verify %}
  <!-- Bing Verification -->
  <meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="/css/font-awesome/css/all.min.css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
