<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive profile-photo" src="{{ '/img/akarpeyeva.jpg' | relative_url }}" alt="{% t global.anastasia %}" />
        <div class="intro-text">
          <span class="name">{% t global.anastasia %}</span>
          <span class="skills">{% t global.skills %}</span><br/><br/>
          <img class="img-responsive profile-photo" src="{{ '/img/logo-only.png' | relative_url }}" alt="{% t global.name %}" />
          <span class="skills">{{ site.name }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
