<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% t site.title %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{%  t site.description %}">
  <meta name="keywords" content="{% t site.keywords %}" />
  {% if site.meta_author %}
  <meta name="author" content="{% t global.anastasia %}">{% endif %}
  {% assign default_lang = site.languages | first %}
  {% assign current_lang = site.active_lang | default: default_lang %}
  {% assign localized_url = page.url | replace:'index.html','' %}
  {% if current_lang != default_lang %}
    {% assign localized_url = '/' | append: current_lang | append: localized_url %}
  {% endif %}
  <link rel="canonical" href="{{ site.url }}{{ localized_url }}">
  {% for lang in site.languages %}
    {% assign href = site.url %}
    {% if lang != default_lang %}
      {% assign href = href | append: '/' | append: lang %}
    {% endif %}
    {% assign href = href | append: '/' %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ href }}" />
  {% endfor %}
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico"> 

  <link rel="stylesheet" href="/css/style.css">

  {% if site.google_verify %}
  <!-- Google verification -->
  <meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}


  {% if site.bing_verify %}
  <!-- Bing Verification -->
  <meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="/css/font-awesome/css/all.min.css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
