<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{% t menu.navigation %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{% t global.psychologist %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#about">{% t menu.about %}</a>
        </li>
        <li class="page-scroll">
          <a href="#org">{% t menu.org %}</a>
        </li>
        <li class="page-scroll">
          <a href="#individuals">{% t menu.individuals %}</a>
        </li>
        <li class="page-scroll">
          <a href="#reviews">{% t menu.reviews %}</a>
        </li>        
        <li class="page-scroll">
          <a href="#contact">{% t menu.contact %}</a>
        </li>
        <li>
          <p>&nbsp;</p>
        </li>
        <li class="page-scroll">
          <a href="/">{% t langs.en %}</a>
        </li>
        <li class="page-scroll">
          <a href="/nl">{% t langs.nl %}</a>
        </li>
        <li class="page-scroll">
          <a href="/ru">{% t langs.ru %}</a>
        </li>        
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
